//Main Colours
$red: #E14658;
$black: #22252C;
$white: #F7F7F7;
$main-blue: #8EAEBD;
$second-blue: #30415D;
$yellow: #F7EF6A;

//Fonts
$main-font: 'Josefin Sans', sans-serif;
$second-font: 'Lato', sans-serif;
