@import '_vars';
@import 'modules/mixins';
@import 'modules/landing';
@import 'modules/about';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans:300,400');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $white;
}

h1, h2, h3, h4, h5 {
    font-family: $main-font;
}

a, p, li, ul {
    font-family: $second-font;
    font-weight: 300;
}

a:hover {
    text-decoration: none;
}

p {
    color: $black;
}

h1 {
    font-weight: bold;
    font-size: 3.5em;
}

h2 {
    font-weight: bold;
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.5em;
}
//Top navigation

section.topNav {
    background-color: $black;
}

.topSticky  {
    font-size: 18px;
    background-color: #f7f7f7;
    padding-bottom: 0px;
    z-index: 999;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: $black;
}

.main-nav li {
    text-align: center;
    margin: 25px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin: 1em;
}

.logo:hover,
.nav-links:hover {
    color: $red;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: $black;
    font-size: 24px;
}

.active {
    display: block;
}

.sticky {
    color: $black;
    position: fixed;
    width: 100%;
    transition: all 1.25 ease;
    border-bottom: 1px solid $black;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin: 40px 60px 0 50px;
        flex-direction: row;
        float: right;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin: 1em 0 1em 3em;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: $red;
    }
}


//About Content
header {
    padding: 1em 1em 0 1em;
}

#aboutMeSection {
    margin-top: 1.5em;
}

#selfImg img {
    width: 100%;
    margin-bottom: 0;
}

h1 > span {
    color: $red;
}

@media screen and (min-width: 768px) {
    #aboutMeSection h1 {
        margin: 2em 0 0 1em;
    }

    #aboutMeSection p {
        margin: 3em 0 3em 0;
    }
}



//Skillset
section#skillset {
    background-color: $black;
    padding: 2em 3em 2em 3em;
}

section#skillset h2 {
    color: $yellow;
}

//Believe
section#believe {
    padding: 1em;
}

//Testimonials
section#testimonials {
    background-color: $yellow;
    padding: 1em;
}


@media screen and (min-width: 1024px) {
    p#testimonial-quote {
        background-color: rgba(255,255,255,0.5);
        padding: 1.5em;
        margin: 3em 8em 3em 8em;
    }
}
//Footer

footer {
    padding-left: 20px;
}

footer ul li {
    display: inline;
}

img.footerLogo {
    width: 125px;
    margin-left: 35%;
}

img.footersvg {
    width: 40px;
}

footer ul#footerLinks {
    margin-top: 15px;
    margin-left: 32%;
}

footer p {
    margin: 0;
}


$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.selected {
    color: $red;
}
nav ul li a {
  font-size: 20px;
  color: $black;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;

   &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0; right: 0;
        height: 2px;
        background-color: $red;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}


//Contact
#contactPage {
    background-color: $yellow;
    padding: 2em;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

form input, form textarea {
    @include border-radius(5px);
    border: 0;
    padding: 1em;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: $second-font;
    font-size: 1em;
    @include box-shadow(0 1px 1px rgba(black, 0.1));
}

form input:focus, form textarea:focus {
    @include box-shadow(0 0px 2px $red !important);
}

form #input-submit {
  color: white;
  background: $black;
  cursor: pointer;
}

form #input-submit:hover {
    @include box-shadow(0 1px 1px 1px rgba(170,170,170,0.6));
}

form textarea {
  height: 200px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
