h1 {
    color: $black;
    font-size: 3.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    color: $white;
}

//Logo

svg.name-logo {
  margin-left: 30px;
}

//Landing Info
.landing-info {
    opacity: 0;
}

.button{
    width:210px;
    height:50px;
    border:1px solid $black;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:0 0 20px 50px;
    text-transform: uppercase;
  }

.button a{
    font-family: $second-font;
    font-size:14px;
    color:$black;
    text-decoration:none;
    line-height:50px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
    padding: 65px;
  }

  .btn-effect{
    width:210px;
    height:50px;
    left:-210px;
    background:$black;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
  }

  .button:hover .btn-effect{
    left:0;
  }

 .button:hover a{
    color: $white;
  }

//Social
footer h2 {
  font-size: 2.5em;
  margin-left: 10px;
}

///////////////QUERIES//////////////////
//Mobile 
.landing-info h1.text-center {
  margin-left: 20px;
}

@media screen and (min-width:321px) and (max-width: 375px) { 
  svg.name-logo {
    margin-left: 10px;
  }

  .landing-info h1.text-center {
    margin-left: 20px;
  }

  .button {
    margin-left: 5em;
  }
}

//Mobile L
@media screen and (min-width:376px) and (max-width: 425px) {
  .button {
    margin-left: 6em;
  }
}

@media screen and (min-width: 425px) and (max-width: 538px) {
  .button {
  margin-right: 200px;
  }
}


//Tablet

@media screen and (min-width:426px) and (max-width: 545px) {
  .button {
    width: 150px;
    margin-left: 0;
  }

  .btn-effect {
    width: 150px;
  }
}

@media screen and (min-width:575px) and (max-width: 766px) {
  .button {
    width: 100px;
    margin-left: 0;
  }

  .btn-effect {
    width: 100px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
  .button {
    width: 150px;
    margin-left: 0;
    margin-right: 10px;
  }

  .btn-effect {
    width: 100px;
  }
}

//Laptop
@media screen and (min-width: 1000px) and (max-width: 1019px) {
  #ld-LinkedIn{
    margin-left: 380px;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1194px) {
  svg.name-logo {
    width: 60%;
    margin-left: 15em;
  }

  .landing-info h1.text-center {
    margin-left: 1.5em;
  }

  footer h2 {
    font-size: 2.5em;
    margin-left: 1em;
  }

  #ld-LinkedIn{
    margin-left: 400px;
  }

  #ld-git{
    float: left;
  }

  #ld-email{
    float: left;
  }
}

//4K
@media screen and (min-width: 1195px) {
  svg.name-logo {
    width: 50%;
    margin-left: 20em;
  }

  #ld-LinkedIn{
    margin-left: 450px;
  }
}



